body {
  background-image: linear-gradient(
    to right,
    rgb(16, 185, 129),
    rgb(101, 163, 13)
  );
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  text-align: center;
}

.top-image {
  margin: 25px;
  width: 20%;
}

.image {
  margin: 25px;
  width: 20%;
}

/* Navbar */
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20 px;
  padding: 0;
  align-items: center;
  height: 50px;
}
li {
  display: flex;
  height: 40px;
  width: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: maroon;
  border: solid 1px rgb(187, 247, 208, 0.5);
  box-shadow: 3px 3px #65a30d;
  cursor: pointer;
}

/* Home */
.landing-page-copy,
.subtitle,
h1 {
  color: whitesmoke;
  width: 50%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-copy {
  font-size: 24px;
  font-weight: 300;
}

.subtitle {
  font-size: 36px;
}

h1 {
  font-size: 50px;
  width: 25%;
  display: flex;
}

h3 {
  font-size: 40px;
  width: 25%;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: 25px;
}

button {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  font: "Roboto", "sans-serif";
  font-size: 20px;
}
